.main-container {
  padding: 4rem 0;
}

.filter {
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.filter-btn {
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcd4f;
  color: #011924;
  font-weight: bold;
  border-radius: 0.25rem;
  transition: var(--transition);
  transition-duration: 0.2s;
}
.filter-btn:is(:hover, :focus-visible) {
  background-color: #ffb703;
  transform: translateY(-4px);
}
.filter-btn:is(:active) {
  transform: translateY(-2px);
}
