.main-container {
  padding: 4rem 0;
}

.filter {
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.filter-btn,
.filter input {
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcd4f;
  color: #011924;
  font-weight: bold;
  border-radius: 0.25rem;
  transition: var(--transition);
  transition-duration: 0.2s;
}
.filter-btn:is(:hover, :focus-visible) {
  background-color: #ffb703;
  transform: translateY(-4px);
}
.filter-btn:is(:active) {
  transform: translateY(-2px);
}

.filter .search-bar {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.search-bar input:first-child {
  background-color: transparent;
  border: 2px solid #ffb703;
  outline: none;
  padding-left: 1rem;
  color: #2c2000;
  caret-color: #011924;
}
.search-bar input:last-child {
  width: 3rem;
  outline: none;
}
