.header {
  padding: 1rem;
  color: #023047;
  background-color: #ffcd4f;
}
.header .container {
  display: flex;

  align-items: center;
}

.nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: var(--transition);
  margin-right: auto;
}
.logo:is(:hover, :focus) {
  color: #fb8500;
}

.nav ul a {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: var(--transition);
}
.nav ul a:is(:hover, :focus) {
  border-color: #fb8500;
}

.login {
  margin-left: 2rem;
  width: 7.5rem;
  height: 2rem;
  background: transparent;
  border: 2px solid #023047;
  color: #023047;
  font-size: 1.1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: (--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login:is(:hover, :focus) {
  border-color: #021025;
  color: #021025;
  background-color: #43441a21;
}
